<!DOCTYPE html>
<html>

<head>
    <title>Base</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <table id="sequence-list">
        <tr>
            <td>
                <div>
                    <div id="measure-corner"></div>
                </div>
            </td>
        </tr>

        <tr id="base-sequence">
            <td>
                <div class="sequence">
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="sequence">
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="dash-wrapper">
                        <div class="dash">-</div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="dash-wrapper">
                        <div class="dash">-</div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="dash-wrapper">
                        <div class="dash">-</div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digitbox"></div>
                        <div class="digittext"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table id="camera-table">
        <tr>
            <td>
                <img src="camera-direction.png" />
            </td>
            <td>
                <img src="camera-distance.png" />
            </td>
            <td> ______________
                <br/>
                <span style="font-size: 12px">Date</span>
                <br/>
                <br/> Test / Train
            </td>
            <td>
                ______ mm
                <br/>
                <span style="font-size: 12px">Focal Length</span>
                <br/>
                <span style="font-size: 12px">(35mm Equivalent)</span>
            </td>
            <td>
                4K / 1080p / ___
                <br/>
                <br/> 30 / 60 / ___ FPS
            </td>
        </tr>
    </table>
</body>

<script>
    var base_sequence = document.getElementById("base-sequence");
    for (var i = 0; i < 6; ++i) {
        var clone = base_sequence.cloneNode(true);
        base_sequence.parentNode.appendChild(clone);
    }

    var digittext = Array.from(document.getElementsByClassName("digittext"));
    var distribution = [];
    for (var digit of digittext) {
        var rand = Math.floor(Math.random() * (9 - 0 + 1)) + 0;
        distribution[rand] = distribution[rand] ? distribution[rand] + 1 : 1;
        digit.innerHTML = rand;
    }

    console.log(distribution);

</script>

</html>