body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#measure-corner {
    border-top: 4px solid black;
    border-left: 4px solid black;
    height: 12px;
    width: 12px;
}

#camera-table {
    text-align: center;
}

#camera-table td {
    padding: 0 .5cm;
}

#sequence-list {
    display: inline-block;
}

#sequence-list td {
    padding-right: 1cm;
    padding-bottom: .75cm;
}

img {
    height: 2.75cm;
}

.sequence {
    font-size: 0;
    display: flex;
    align-items: middle;
}

.digitbox {
    width: calc(5cm / 10);
    height: calc(8.5cm / 10);
    border: calc(.5cm / 10) solid black;
    margin-right: calc(-.5cm / 10);
}

.digittext {
    font-size: 1cm;
    max-width: .5cm;
}

.dash-wrapper {
    display: inline-block;
    width: calc(5cm / 10);
    height: calc(8.5cm / 10);
}

.dash {
    font-size: 40px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    float: right;
    margin-right: 1px;
    /* width: calc(30in / 300);
    height: calc(16in / 300);
    background-color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    margin-right: calc(12in / 300); */
}

@page {
    size: A4;
    margin: 1cm .5cm;
}